<header ng-switch on="$location.path().indexOf('/Pracowniks/new') > -1">
    <h3 ng-switch-when="true">Create a new Pracownik</h3>
    <h3 ng-switch-when="false">View or edit Pracownik</h3>
</header>
<form id="PracownikForm" name="PracownikForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': PracownikForm.imie.$invalid}">
        <label for="imie" class="col-sm-2 control-label">Imie</label>
        <div id="imieControls" class="col-sm-10">
            <input id="imie" name="imie" type="text" required class="form-control" ng-model="pracownik.imie" placeholder="Enter the Pracownik Imie"></input>
            <span class="help-block error" ng-show="PracownikForm.imie.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.nazwisko.$invalid}">
        <label for="nazwisko" class="col-sm-2 control-label">Nazwisko</label>
        <div id="nazwiskoControls" class="col-sm-10">
            <input id="nazwisko" name="nazwisko" type="text" required class="form-control" ng-model="pracownik.nazwisko" placeholder="Enter the Pracownik Nazwisko"></input>
            <span class="help-block error" ng-show="PracownikForm.nazwisko.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div id="emailControls" class="col-sm-10">
            <input id="email" name="email" type="text" class="form-control" ng-model="pracownik.email" placeholder="Enter the Pracownik Email"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.phoneNumber.$invalid}">
        <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
        <div id="phoneNumberControls" class="col-sm-10">
            <input id="phoneNumber" name="phoneNumber" type="text" class="form-control" ng-model="pracownik.phoneNumber" placeholder="Enter the Pracownik Phone Number"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.dataZatrudnienia.$invalid}">
        <label for="dataZatrudnienia" class="col-sm-2 control-label">Data Zatrudnienia</label>
        <div id="dataZatrudnieniaControls" class="col-sm-10">
        <p class="input-group">
				<input id="dataZatrudnienia" name="dataZatrudnienia" type="text" class="form-control"
					datepicker-popup="{{format}}" ng-model="pracownik.dataZatrudnienia"
					is-open="opened" min-date="minDate" max-date="'2015-06-22'"
					datepicker-options="dateOptions"
					date-disabled="disabled(date, mode)" ng-required="true"
					close-text="Close" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
            <span class="help-block error" ng-show="PracownikForm.dataZatrudnienia.$error.required">required</span> 
            <span class="help-block error" ng-show="PracownikForm.dataZatrudnienia.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.dataZwolnienia.$invalid}">
        <label for="dataZwolnienia" class="col-sm-2 control-label">Data Zwolnienia</label>
        <div id="dataZwolnieniaControls" class="col-sm-10">
            <date id="dataZwolnienia" name="dataZwolnienia" ng-model="pracownik.dataZwolnienia" placeholder="Enter the Pracownik Data Zwolnienia"></date>
            <span class="help-block error" ng-show="PracownikForm.dataZwolnienia.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.wynagrodzenie.$invalid}">
        <label for="wynagrodzenie" class="col-sm-2 control-label">Wynagrodzenie</label>
        <div id="wynagrodzenieControls" class="col-sm-10">
            <input id="wynagrodzenie" name="wynagrodzenie" type="text" required class="form-control" ng-model="pracownik.wynagrodzenie" placeholder="Enter the Pracownik Wynagrodzenie"></input>
            <span class="help-block error" ng-show="PracownikForm.wynagrodzenie.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.absencje.$invalid}">
        <label for="absencje" class="col-sm-2 control-label">Absencje</label>
        <div id="absencjeControls" class="col-sm-10">
            <select id="absencje" name="absencje" multiple class="form-control" ng-model="absencjeSelection" ng-options="a.text for a in absencjeSelectionList">
                <option value="">Choose a Absencje</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PracownikForm.kosztPodwyzszony.$invalid}">
        <label for="kosztPodwyzszony" class="col-sm-2 control-label">Koszt Podwyzszony</label>
        <div id="kosztPodwyzszonyControls" class="col-sm-10">
            <input id="kosztPodwyzszony" name="kosztPodwyzszony" type="checkbox" class="form-control" ng-model="pracownik.kosztPodwyzszony" placeholder="Enter the Pracownik Koszt Podwyzszony"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePracownik" name="savePracownik" class="btn btn-primary" ng-disabled="isClean() || PracownikForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePracownik" name="deletePracownik" class="btn btn-danger" ng-show="pracownik.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>